* {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

/* Left side content*/

#content {
    display: flex;
}

#search-input {
    margin-left: 3rem;
    margin-right: 3rem;
}

#search-form {
    padding: 1rem;
}

#history-container {
    text-align: center;
    margin: .2rem;
}

#history-container div {
    margin: .2rem;
    padding: .2rem;
    background-color: grey;
    color: aliceblue;
}

/* Right side content */

#weather-area {
    margin-left: 3rem;
    margin-right: 3rem;
}

#five-day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 160px;
}

.card-data {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.card h2 {
    font-size: 32px;
}

.card h3 {
    font-size: 16px;
}

.card ul {
    padding: 1rem;
}

.card ul li {
    list-style: none;
    padding: .1rem;
}